# Ignore build outputs
bin/
obj/

# Ignore user-specific files
.vs/
.vscode/
.suo
.user
.userosscache

# Ignore NuGet packages
packages/
*.nupkg

# Ignore local development files
.env
.env.local

# Ignore IDE-specific files
.idea/
*.swp
*.sln.iml

# Ignore appsettings.json
# appsettings.json
/Infrastructure/Migrations
/WebAPI/FileHost
logs/
